* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.jumbo {
    background-image: url(img/jumbo.png);
}

.intro {
    width: 100%;
    height: 85px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.yellow {
    width: 1250px;
    height: 50%;

    display: flex;
    align-items: center;
}

.logo {
    display: inline-block;

    width: 25%;
    height: 100%;
    
    display: flex;
    align-items: center;
}

.link {
    display: inline-block;

    width: 50%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;   
}

.menu {
    text-decoration: none;

    color: white;
}

.login {
    display: inline-block;

    width: 25%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.span-login {
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}

.blue {
    width: 100%;
    height: 520px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.fucsia {
    width: 50%;
    height: 80%;
}

.testo-bianco {
    text-align: center;
    color: white;

    padding: 10px;
}

.center {
    display: flex;
    justify-content: center;
    flex-direction: row;

    padding: 15px ;
}

.pulsante-uno , pulsante-due {
    text-decoration: none;
    color: white;
}

.pulsante-uno {
    display: inline-block;

    background-color: white;
    color: black;

    border-radius: 20px;
    padding: 10px;
}

.pulsante-due {
    display: inline-block;
    color: white;

    background-color: black;
    border-radius: 20px;
    padding: 10px;
}

.white {
    width: 100%;
    height: 630px;

    background-color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}

.terzo {
    width: 70%;
    height: 80%;

    display: flex;
    align-items: flex-end;
}

.light-blue {
    width: 60%;
    height: 100%;   
}

.pink {
    width: 40%;
    height: 100%;
    
    text-align: left;
}

.gray {
    width: 100%;
    height: 630px;

    background-color: lightgray;

    display: flex;
    align-items: center;
    justify-content: center;
}

.terzo-reverse {
    width: 70%;
    height: 80%;

    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
}

.big-gray {
    width: 100%;
    height: 1040px;

    background-color: lightgray;

    display: flex;
    align-items: center;
    justify-content: center;
}

.green {
    width: 70%;
    height: 90%;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.testo-nero {
    text-align: center;
    padding: 20px;
}

.black {
    width: 100%;
    height: 660px;

    background-color: #23272A;

    display: flex;
    align-items: center;
    justify-content: center;
}

.settimo {
    width: 70%;
    height: 90%;

    display: flex;
    align-items: flex-end;
}

.mini-pink {
    width: 33%;
    height: 100%;

    background-color: #FFC0CB;

    border: 3px dashed black;
}

.box-ciano {
    width: 66%;
    height: 100%;

    border: 3px dashed black;

    display: flex;
    align-items: normal;
}

.ciano {
    width: 25%;
    height: 100%;

    background-color: #20B2AA;

    border: 3px dashed white;
}

.last {
    width: 100%;
    height: 115px;

    background-color: #23272A;

    display: flex;
    align-items: center;
    justify-content: center;
}

.acqua {
    width: 70%;
    height: 90%;

    background-color: #7FFFD4;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-2 {
    background-color: #FFB6C1;
    border: 2px dashed black;

    display: inline-block;
}

.bottone {
    background-color: #FFB6C1;
    border: 2px dashed black;

    display: inline-block;
}