* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Whitney Bold";
    src: url(Whitney-Font/whitney-bold.otf);
    font-weight: bold;
}

body {
    font-family: "Whitney", sans-serif;
    line-height: 1.4em;
}

.jumbo {
    background-image: url(img/jumbo.png);
    background-size: cover;
    background-position: center;
}

.intro {
    width: 100%;
    height: 85px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.yellow {
    width: 1250px;
    height: 50%;

    display: flex;
    align-items: center;
}

.logo {
    display: inline-block;

    width: 25%;
    height: 100%;
    
    display: flex;
    align-items: center;
}

.link {
    display: inline-block;

    width: 50%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;   
}

.menu {
    text-decoration: none;

    color: white;
}

.login {
    display: inline-block;

    width: 25%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.span-login {
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}

.blue {
    width: 100%;
    height: 520px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.fucsia {
    width: 50%;
    height: 80%;
}

.testo-bianco {
    text-align: center;
    color: white;

    padding: 10px;
}

.center {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 30px;

    padding: 15px ;
}

.pulsante-uno , pulsante-due , .pulsante-celeste {
    text-decoration: none;
    color: white;
}

.pulsante-uno {
    display: inline-block;

    background-color: white;
    color: black;

    border-radius: 20px;
    padding: 10px;
}

.pulsante-due {
    display: inline-block;
    color: white;

    background-color: black;
    border-radius: 20px;
    padding: 10px;
}

.white {
    width: 100%;
    height: 630px;

    background-color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}

.terzo {
    width: 70%;
    height: 80%;

    display: flex;
    align-items: flex-end;
}

.light-blue {
    width: 60%;
    height: 100%;   
}

.pink {
    width: 40%;
    height: 100%;
    
    text-align: left;
}

.gray {
    width: 100%;
    height: 630px;

    background-color: lightgray;

    display: flex;
    align-items: center;
    justify-content: center;
}

.terzo-reverse {
    width: 70%;
    height: 80%;

    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
}

.big-gray {
    width: 100%;
    height: 1040px;

    background-color: lightgray;

    display: flex;
    align-items: center;
    justify-content: center;
}

.green {
    width: 70%;
    height: 90%;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.testo-nero {
    text-align: center;
    padding: 20px;
}

.black {
    width: 100%;
    height: 660px;

    background-color: #23272A;

    display: flex;
    align-items: center;
    justify-content: center;
}

.settimo {
    width: 70%;
    height: 90%;

    display: flex;
    align-items: flex-end;
}

.mini-pink {
    width: 33%;
    height: 100%;

    padding: 30px;
}

h2 , .ciano h4 {
    color: #7289da;
    margin-bottom: 20px;
}

.lingua {
    margin-bottom: 30px;
}

.lingua img {
    height: 22px;
    width: auto;
}

.icone {
    display: flex;
    vertical-align: middle;
    gap: 20px;
}

.icone , .lingua {
    color: white;
}

.box-ciano {
    width: 66%;
    height: 100%;

    display: flex;
    align-items: normal;
}

.ciano {
    width: 25%;
    height: 100%;
}

.ciano h4 {
    margin-top: 30px;
}

.ciano ul {
    list-style-type: none;

    display: flex;
    flex-direction: column;

    color: white;
}

.last {
    width: 100%;
    height: 115px;

    background-color: #23272A;

    display: flex;
    align-items: center;
    justify-content: center;
}

.acqua {
    width: 70%;
    height: 90%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-2 {

    display: inline-block;
}

.bottone {
    display: inline-block;
}

.pulsante-celeste {
    background-color: #8EA1E1;
    border-radius: 20px;
    padding: 10px;
}

h3 {
    background-image: url(img/stars.svg);
    padding-bottom: 40px;
}

.ready {
    display: flex;
    justify-content: center;
}